@tailwind base;
@tailwind components;
@tailwind utilities;

/* teko-regular - latin-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/teko-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../public/fonts/teko-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* teko-500 - latin-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/teko-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../public/fonts/teko-500.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* teko-600 - latin-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/teko-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../public/fonts/teko-600.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
